[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-babel = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
flake8 = "*"
pre-commit = "*"
black = "*"
isort = "*"
bandit = "*"
safety = "*"
sphinx = "*"

[requires]
python_version = "3.11"
